* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(/thermometer.jpg);
    background-size: cover;
    background-position: center;
}
input{
    margin: 0 16px;
}
#main-container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(red, orange, yellow, rgb(125, 125, 189));
    width: 400px;
    height: 400px;
    border: 5px solid black;
}
#titulo {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    font-size: 30px;
}
#result {
    text-align: center;
    background-color: white;
    width: 120px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px 40px;
    text-align: center;
}
#list {
    margin: 2px 0 20px 0;
    width: 120px;
    text-align: center;
}
#celsius {
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px 40px;
    text-align: center;
}
#converter {
    width: 120px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
}
#converter:hover {
    background-color: red;
    transition: all 0.3s ease-out;
    border-radius: 10px 40px;
}
#converter, #celsius, #trocatexto, #titulo, #result, label, h2 {
    font-family: cursive;
}
#converter, #celsius {
    font-size: 18px;
}
#trocatexto, #result, h2 {
    font-size: 20px;
}
#titulo {
    font-size: 30px;
}

.container-footer {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.fab{
    text-align: center;
    width: 84px;
}

.fab:hover {
    color: red;
}

p {
    font-family: cursive;
    font-size: 24px;
    text-align: center;
    color: black;
}


a{
    font-size: 30px;
    color: black;
}